@charset "UTF-8";

/* コンテンツスタイル
===================================== */
/* header
---------------------------- */

.header {
    background-color: #ffffff;
    height: 80px;
}
.header__inner {
    display: none;
    padding-left: 25px;
    padding-right: 25px;
    align-items: center;
    height: inherit;
}
.header__logo {
    margin-right: auto;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__nav {
    height: inherit;
}

.top-kv {
    background-image: url(../img/cover_1_pc.jpg);
    background-position: 24% center;
    background-size: cover;
    height: 648px;
    position: relative;
    }

    @media (min-width: 768px) {
    .top-kv {
        background-position: center center;
    }
}

    @media (max-width: 667px) {
    .top-kv {
        height: 660px;
    }
}

/* コンテンツスタイル
===================================== */
/* drawer
---------------------------- */

.drawer-menu {
    display: flex;
    align-items: center;
}