@charset "UTF-8";

.html {
    font-family: 'Noto Sans JP' , 'sans-serif';
}

/* コンテンツスタイル
===================================== */
/* header
---------------------------- */

.header {
    background-color: #ffffff;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
}

.header__inner {
    padding: 0 122px;
    align-items: center;
    height: inherit;
}

.header__logo {
    margin: 0 50px 70px 148px;
    width: 293px;
    height: 30px;
}

.header__nav {
    height: inherit;
    font-size: 20px;
}

.header-nav__items {
    display: flex;
    justify-content: center;
}

.header-nav__item {
    margin: auto;
    list-style: none;
    height: inherit;
}

.header-nav__link {
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    color: #524e4d;
    height: inherit;
}

.drawer-menu {
    list-style: none;
}

    @media (min-width: 768px){
    .drawer-menu {
        display: none;
    }
}

.drawer-menu__logo {
    background-image: url(../img/kirameki_foods_logo.png);
}
    @media (max-width: 667.98px){
    .drawer-menu__logo {
        width: 185px;
        height: 19px;
    }
}

.top-kv {
    background-image: url(../img/cover_1_pc.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

    @media (min-width: 768px) {
    .top-kv {
        background-position: center center;
    }
}

    @media (max-width: 667.98px) {
    .top-kv {
        height: 660px;
    }
}

.top-kv__inner {
    position: relative;
    width: 100%;
    height: inherit;
}

.top-kv__text {
    position: absolute;
    top: 50%;
    transform: translate(108px,-186px);
    text-align: left;
    font-size: 36px;
    width: 100%;
    line-height: 1.75;
    letter-spacing: 0.05em;
    font-weight: 900;
    text-shadow: 3.5px 3.5px 5px rgba(0, 0, 0, 0.3);
    color: #ffefef;
}

@media (max-width: 667.98px) {
    .top-kv__text {
        font-size: 26px;
        line-height: 45.5px;
    }
}

/* コンテンツスタイル
===================================== */
/* hamburger
---------------------------- */

.hamburger {
    position: fixed;
    z-index: 9999;
    top: 30px;
    left: 15px;
    width: 27px;
    height: 24px;
    cursor: pointer;
}

.hamburger span {
    position: absolute;
    right: 0;
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: #524e4d;
}

.hamburger span:first-child {
    top: 0;
}

.hamburger span:nth-child(2) {
    top: 8px;
}

.hamburger span:nth-child(3) {
    top: 16px;
}

/* コンテンツスタイル
===================================== */
/* drawer
---------------------------- */

.drawer-menu {
    display: flex;
    align-items: center;
}

.drawer__inner {
    position: fixed;
    width: 100%;
    padding: 14px 0;
    z-index: 1;
}

/* コンテンツスタイル
===================================== */
/* news
---------------------------- */

.news-inner {
    padding: 80px 286px 21.1px 14px;
}

.news-title {
    width: 75px;
    height: 21px;
    margin-bottom: 34px;
    font-size: 28px;
    font-weight: 900;
    line-height: 0.71;
    text-align: left;
    color: #032533;
}

.news-list {
    display: flex;
}

.news-item {
    width: 558px;
    height: 372px;
    list-style: none;
}

.news-lists {
    display: flex;
    flex-wrap: wrap;
}

.news-items {
    width: 263px;
    height: 176px;
    margin-left: 32px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.news-items__text {
    font-size: 16px;
    line-height: 1.72;
    text-align: left;
    margin-bottom: 53px;
    color: #524e4d;
}

/* コンテンツスタイル
===================================== */
/* SDGs
---------------------------- */
.SDGs-inner {
    background-color: #f7f7f7;
    display: flex;
}

.SDGs-title {
    width: 75px;
    height: 21px;
    margin-bottom: 34px;
    font-size: 28px;
    font-weight: 900;
    line-height: 0.71;
    text-align: left;
    color: #032533;
}

.SDGs-item {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.SDGs-item__text {
    margin-bottom: 42px;
}

.SDGs-link,
.recruit-link {
    width: 241px;
    height: 57px;
    margin: 42px 330px 105px 19px;
    padding: 22px 82px 21px;
    background-color: #0d5f80;
    color: #fff;
    text-align: center;
}

/* コンテンツスタイル
===================================== */
/* company
---------------------------- */
.company-inner {
    width: 556px;
    height: 370.8px;
}

.company-title {
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 34px;
    line-height: 0.71;
    color: #032533;
    text-align: left;
}

/* コンテンツスタイル
===================================== */
/*  IR
---------------------------- */
.IR-inner {
    width: 555.9px;
    height: 369.3px;
}

.IR-title {
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 34px;
    line-height: 0.71;
    color: #032533;
    text-align: left;
}

/* コンテンツスタイル
===================================== */
/* recruit
---------------------------- */
.recruit-inner {
    background-color: #f7f7f7;
    list-style: none;
}

.recruit-title {
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 34px;
    line-height: 0.71;
    color: #032533;
    text-align: left;
}

/* コンテンツスタイル
===================================== */
/* brand
---------------------------- */
.brand-inner {
    padding-right: 15px;
    padding-left: 15px;
}

.brand-title {
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 34px;
    line-height: 0.71;
    color: #032533;
    text-align: left;
}

.brand-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin-top: 27px;
    margin-right: auto;
    margin-left: auto;
}

.brand-item:not(:nth-child(3n)) {
    margin-right: 40px;
}

/* コンテンツスタイル
===================================== */
/* information
---------------------------- */

.information-title {
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 34px;
    line-height: 0.71;
    color: #032533;
    text-align: left;
}

.information-item {
    list-style: none;
}

/* コンテンツスタイル
===================================== */
/* release
---------------------------- */

.release-title {
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 34px;
    line-height: 0.71;
    color: #032533;
    text-align: left;
}

.release-item {
    list-style: none;
}

/* コンテンツスタイル
===================================== */
/* sns
---------------------------- */
.sns-inner {
    text-align: center;
}

.sns-title {
    text-align: center;
}

.twitter-icon {
    margin: 0 90px 0 405px;
}

.insta-icon {
    margin-right: 90px;
}

.line-icon {
    margin-right: 90px;
}

.facebook-icon {
    margin: 0 405px 0 0;
}

/* コンテンツスタイル
===================================== */
/* footer
---------------------------- */
.footer__inner {
    text-align: center;
}

.footer-nav__items {
    display: flex;
    justify-content: center;
}

.footer-nav__item {
    margin: auto;
    list-style: none;
    height: inherit;
}