@charset "UTF-8";

html {
    font-family: 'Noto Sans JP' , 'sans-serif';
}

/* コンテンツスタイル
===================================== */
/* header
---------------------------- */

.header {
    background-color: #ffffff;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
}

@media screen and (max-width: 667.98px){
    .header {
        width: 100%;
        height: 70px;
        padding: 24px 92px 22px 16px;
    }
}

.header__inner {
    padding: 0 122px;
    align-items: center;
    height: inherit;
}

@media screen and (max-width: 667.98px){
    .header__nav {
        display: none;
    }
}

.header__logo {
    padding: 30px 300px 0;
}

.header__logo img {
    margin: 0 50px 49px 148px;
    width: 293px;
    height: 30px;
}

@media screen and (max-width: 667.98px){
    .header__logo {
        margin: auto;
        padding: 24px 92px 22px 16px;
    }

    .header__logo img {
        margin: -24px 92px 22px -80px;
    }

    .header-logo__link img {
        width: 185px;
        height: 19px;
    }
}

.header__nav {
    height: inherit;
    font-size: 20px;
}

.header-nav__items {
    display: flex;
    justify-content: center;
}

.header-nav__item {
    margin: auto;
    height: inherit;
}

.header-nav__link {
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    color: #524e4d;
    height: inherit;
}

.top-kv {
    background-image: url(../img/cover_1_pc.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 66vw;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .top-kv {
        background-position: center center;
    }
}

@media screen and (max-width: 667.98px) {
    .top-kv {
        height: 660px;
    }
}

.top-kv__inner {
    position: relative;
    width: 100%;
    height: inherit;
}

.top-kv__text {
    position: absolute;
    top: 50%;
    transform: translate(108px,-300px);
    text-align: left;
    font-size: 36px;
    width: 100%;
    line-height: 1.75;
    letter-spacing: 0.05em;
    font-weight: 900;
    text-shadow: 3.5px 3.5px 5px rgba(0, 0, 0, 0.3);
    color: #ffefef;
}

@media screen and (max-width: 667.98px) {
    .top-kv__text {
        font-size: 26px;
        line-height: 45.5px;
        text-align: center;
        transform: translate(3.5px,-200px);
    }
}

/* コンテンツスタイル
===================================== */
/* recruit-kv
---------------------------- */

.recruit-kv__inner {
    width: 100%;
    height: 66vw;
    background-image: url(../img/cover_02.jpg);
    animation-name: moveBg;
    animation-duration: 600s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes moveBg {
    from {
        background-position: 20000px;
    }
    to {
        background-position: 0px;
    }
}

/* コンテンツスタイル
===================================== */
/* hamburger
---------------------------- */

.hamburger {
    position: fixed;
    z-index: 9999;
    top: 30px;
    left: 15px;
    width: 27px;
    height: 24px;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .hamburger {
        display: none;
    }
}

.hamburger span {
    position: absolute;
    right: 0;
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: #524e4d;
}

.hamburger span:first-child {
    top: 0;
}

.hamburger span:nth-child(2) {
    top: 8px;
    transition: opacity 0.3s;
}

.hamburger span:nth-child(3) {
    top: 16px;
}

.hamburger .is-active {
    width: 21px;
    height: 21px;
    margin: 1px 23px 2px 38px;
}

.hamburger.is-active span:first-child {
    top: 15px;
    transform: rotate(-45deg);
}

.hamburger.is-active span:nth-child(2) {
    display: none;
}

.hamburger.is-active span:nth-child(3) {
    top: 15px;
    transform: rotate(45deg);
}

/* コンテンツスタイル
===================================== */
/* drawer
---------------------------- */

.drawer-menu {
    display: block;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .drawer-menu {
        display: none;
    }
}

.drawer__inner {
    position: fixed;
    width: 100%;
    padding: 14px 0;
    z-index: 1;
}

@media screen and (max-width: 667.98px){
    .drawer-menu {
        width: 280px;
        height: 812px;
        margin: 0 95px 0 0;
        background-color: #fff;
    }

    .drawer-menu__logo {
        margin: 1px 38px 4px 0;
        padding: 0 174px 26px 16px;
    }

    .drawer-menu__logo img {
        width: 185px;
        height: 19px;
    }

    .drawer-logo__link a {
        width: 77px;
        height: 20px;
        margin: 19px 187px 20px 16px;
        line-height: 1.36;
        color: #524e4d;
    }

    .drawer-menu__logo a::after,
    .drawer-menu__item a::after {
        width: 280px;
        height: 1px;
        margin: 20px 0 59px;
    }

    .drawer-menu__items {
        font-size: 20px;
        padding: 19px 80px 20px 16px;
    }
}

@media screen and (min-width: 768px) {
    .drawer-menu__logo img {
        width: 185px;
        height: 19px;
    }
}

/* コンテンツスタイル
===================================== */
/* news
---------------------------- */

.news-inner {
    padding: 50px 70px 110px 110px;
}

@media screen and (max-width: 667.98px) {
    .news-inner {
        width: 100%;
        padding: 0%;
    }
}

.news-title {
    width: 75px;
    height: 21px;
    margin-bottom: 34px;
    font-size: 28px;
    font-weight: 900;
    line-height: 0.71;
    text-align: left;
    color: #032533;
}

@media screen and (max-width: 667.98px) {
    .news-title {
        margin: 80px 286px 21px 14px;
        line-height: 0.71;
        text-align: left;
    }

    .news-item {
        width: 100%;
        height: auto;
    }

    .news-item img {
        width: 375px;
        height: 249.9px;
    }
}

.news-list {
    display: flex;
}

@media screen and (max-width: 667.98px) {
    .news-list {
        display: block;
    }
}

.news-item {
    width: 558px;
    height: 372px;
}

@media screen and (max-width: 667.98px) {
    .news-items__link {
        display: flex;
    }

    .news-items__link img {
        width: 157.5px;
        height: 105px;
    }
}

.news-lists {
    display: flex;
    flex-wrap: wrap;
}

.news-items {
    width: 263px;
    margin-left: 32px;
}

.news-items__text {
    font-size: 16px;
    line-height: 1.72;
    text-align: left;
    margin-bottom: 53px;
    color: #524e4d;
}

@media screen and (max-width: 667.98px) {
    .news-items__text {
        width: 146px;
        margin-left: 30px;
    }
}

/* コンテンツスタイル
===================================== */
/* SDGs
---------------------------- */
.SDGs-inner {
    background-color: #f7f7f7;
    padding: 50px 70px 110px 110px;
    width: 100%;
}

@media screen and (max-width: 667.98px) {
    .SDGs-inner {
        width: 100%;
        height: 660px;
        padding: 0%;
    }
}

.SDGs-title {
    width: 75px;
    height: 21px;
    margin-bottom: 34px;
    font-size: 28px;
    font-weight: 900;
    line-height: 0.71;
    text-align: left;
    color: #032533;
}

@media screen and (max-width: 667.98px) {
    .SDGs-title {
        margin: 80px 286px 21px 14px;
        line-height: 0.71;
        text-align: left;
    }
}

.SDGs-list {
    display: flex;
}

@media screen and (max-width: 667.98px) {
    .SDGs-list {
        display: block;
    }

    .SDGs-items {
        display: flex;
    }

    .SDGs-items__link {
        display: flex;
    }

    .SDGs-items__link img {
        width: 157.5px;
        height: 105px;
        margin-bottom: 81.3px;
    }
}

.SDGs-items {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.SDGs-item__text,
.SDGs-items__text {
    font-size: 16px;
    line-height: 1.72;
    text-align: left;
    margin-bottom: 44px;
    color: #524e4d;
}

@media screen and (max-width: 667.98px) {
    .SDGs-item__text {
        width: 100%;
        margin-bottom: 42px;
    }
}

.SDGs-link,
.recruit-link,
.sp-SDGs-link {
    width: 245px;
    height: 57px;
    display: block;
    margin: 42px 330px 105px 19px;
    padding: 22px 82px 21px;
    background-color: #0d5f80;
    color: #fff;
    text-align: center;
    font-size: 16px;
}

@media screen and (min-width: 768px){
    .sp-SDGs-link {
        display: none;
    }
}

@media screen and (max-width: 667.98px) {
    .recruit-link,
    .sp-SDGs-link {
        margin: 32px 50px 50px 40px;
        padding: 21px 81px;
    }

    .SDGs-link {
        display: none;
    }
}

/* コンテンツスタイル
===================================== */
/* company
---------------------------- */

.company-IR {
    padding: 50px 70px 110px 110px;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 667.98px) {
    .company-IR {
        display: block;
        width: 100%;
        padding: 0%;
    }
}

.company-inner {
    width: 556px;
    height: 370.8px;
}

@media screen and (max-width: 667.98px) {
    .company-inner {
        margin-left: 0;
        display: flex;
        flex-direction: column-reverse;
    }
}

.company-title {
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 34px;
    line-height: 0.71;
    color: #032533;
    text-align: left;
}

@media screen and (max-width: 667.98px) {
    .company-title {
        margin: 80px 286px 21px 14px;
        line-height: 0.71;
        text-align: left;
    }

    .company-inner img {
        width: 375px;
        height: 249.9px;
    }
}

/* コンテンツスタイル
===================================== */
/*  IR
---------------------------- */
.IR-inner {
    width: 555.9px;
    height: 369.3px;
    margin-left: 30px;
}

@media screen and (max-width: 667.98px) {
    .IR-inner {
        margin-left: 0;
        display: flex;
        flex-direction: column-reverse;
    }
}

.IR-title {
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 34px;
    line-height: 0.71;
    color: #032533;
    text-align: left;
}

@media screen and (max-width: 667.98px) {
    .IR-title {
        margin: 80px 286px 21px 14px;
        line-height: 0.71;
        text-align: left;
    }

    .IR-inner img {
        width: 375px;
        height: 249.9px;
    }
}

/* コンテンツスタイル
===================================== */
/* recruit
---------------------------- */
.recruit-inner {
    background-color: #f7f7f7;
    padding: 50px 70px 110px 110px;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 667.98px) {
    .recruit-inner {
        width: 100%;
        padding: 0%;
        display: flex;
        flex-direction: column-reverse;
    }
}

.recruit-title {
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 34px;
    line-height: 0.71;
    color: #032533;
    text-align: left;
}

.recruit-item__text {
    margin-bottom: 44px;
}

@media screen and (max-width: 667.98px) {
    .recruit-title {
        margin: 80px 200px 29px 14px;
        line-height: 0.71;
        text-align: left;
    }

    .recruit-item__text {
        margin-bottom: 42px;
    }

    .recruit-inner img {
        width: 375px;
        height: 249.9px;
    }
}

/* コンテンツスタイル
===================================== */
/* recruit-kv
---------------------------- */
.recruit-kv__text {
    width: 717px;
    height: 58px;
    text-shadow: 3.5px 3.5px 5px rgba(199, 199, 199, 0.99);
    font-size: 60px;
    font-weight: bold;
    line-height: 0.33;
    text-align: center;
    color: #1f2774;
}

.entry-link::before {
    content: ">";
    color: #fff;
    width: 13px;
    height: 22px;
    margin: 0 13px 0 0;
    font-size: 24px;
    text-align: left;
}

.entry-link {
    width: 150px;
    height: 60px;
    padding: 19px 26px 19px 21px;
    background-color: #1f2774;
    color: #fff;
}

.application-link,
.event-link {
    width: 361px;
    height: 69px;
    margin: 0 1px 0 0;
    opacity: 0.49;
    border: solid 3px #1f2774;
    background-color: #c7c7c7;
    color: #1f2774;
}

/* コンテンツスタイル
===================================== */
/* ceo
---------------------------- */

.ceo-inner {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.ceo-inner img {
    width: 682px;
    height: 512px;
    vertical-align: bottom;
}

.ceo-title {
    width: 338px;
    height: 38px;
    font-size: 48px;
    font-weight: 900;
    line-height: 0.42;
    text-align: center;
    color: #1f2774;
}

.ceo-name {
    width: 150px;
    height: 35px;
    font-size: 36px;
    line-height: 0.56;
    text-align: center;
    color: #1f2774;
}

.ceo-content {
    width: 132px;
    height: 31px;
    font-size: 12px;
    line-height: 1.58;
    letter-spacing: normal;
    text-align-last: left;
    color: #1f2774;
}

/* コンテンツスタイル
===================================== */
/* vision
---------------------------- */
.vision-inner {
    background-image: url(../img/vision_bg.jpg);
    width: 100%;
    height: 768px;
    padding: 98px 305px 300px 306px;
    background-repeat: no-repeat;
}

.vision-title {
    width: 166px;
    height: 38px;
    margin: 0 297px 99px 292px;
    text-shadow: 3.5px 3.5px 5px #7d4a36;
    font-size: 48px;
    font-weight: 900;
    line-height: 0.42;
    text-align: center;
    color: #fff;
}

.vision-content {
    width: 357px;
    height: 64px;
    margin: 99px 199px 101px;
    text-shadow: 3.5px 3.5px 5px #7d4a36;
    font-size: 24px;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}

.vision-link,
.business-link {
    width: 361px;
    height: 68px;
    margin: 101px 32px 0 0;
    opacity: 0.49;
    border: solid 3px #1f2774;
    background-color: #c7c7c7;
    text-align: center;
    color: #fff;
}

/* コンテンツスタイル
===================================== */
/* office
---------------------------- */
.office-inner {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.office-title {
    width: 171px;
    height: 38px;
    text-shadow: 3.5px 3.5px 5px #fff;
    font-size: 48px;
    font-weight: 900;
    line-height: 0.42;
    text-align: center;
    color: #1f2774;
}

/* コンテンツスタイル
===================================== */
/* interview
---------------------------- */
.interview-inner {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.interview-inner img {
    display: flex;
    flex-wrap: wrap;
}

.interview-title {
    width: 266px;
    height: 37px;
    text-shadow: 3.5px 3.5px 5px #fff;
    font-size: 48px;
    font-weight: 900;
    line-height: 0.42;
    text-align: center;
    color: #1f2774;
}

/* コンテンツスタイル
===================================== */
/* brand
---------------------------- */
.brand-inner {
    padding: 50px 70px 110px 110px;
}

@media screen and (max-width: 667.98px) {
    .brand-inner {
        width: 100%;
        padding: 0%;
    }
}

.brand-title {
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 34px;
    line-height: 0.71;
    color: #032533;
    text-align: left;
}

@media screen and (max-width: 667.98px) {
    .brand-title {
        margin: 80px 200px 21px 14px;
        line-height: 0.71;
        text-align: left;
    }
}

.recruit-brand-title {
    font-size: 48px;
    font-weight: 900;
    line-height: 0.57;
    width: 164px;
    height: 36px;
    margin: 0 10px 34px 12px;
    text-align: center;
    color: #1f2774;
}

.js-brand-list {
    display: flex;
}

.js-brand-item {
    width: 100%;
    margin-top: 27px;
    margin-right: 30px;
    margin-left: auto;
}

.brand-item__text {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

@media screen and (max-width: 667.98px) {
    .brand-item__text {
        margin-bottom: 74px;
    }
}

/* コンテンツスタイル
===================================== */
/* cta
---------------------------- */

.cta-text {
    text-align: center;
}

.cta-link {
    text-align: center;
}

/* コンテンツスタイル
===================================== */
/* contact
---------------------------- */

.contact-text {
    text-align: center;
}

.contact-link {
    text-align: center;
}

/* コンテンツスタイル
===================================== */
/* information
---------------------------- */
/* コンテンツスタイル
===================================== */
/* release
---------------------------- */

.information-inner,
.release-inner {
    padding: 50px 70px 110px 110px;
    background-color: #f7f7f7;
}

@media screen and (max-width: 667.98px) {
    .information-inner,
    .release-inner {
        width: 100%;
        padding: 0%;
    }
}

.information-title,
.release-title {
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 34px;
    line-height: 0.71;
    color: #032533;
    text-align: left;
}

@media screen and (max-width: 667.98px) {
    .information-title {
        margin: 50px 20px 29px 1px;
        line-height: 0.71;
        text-align: left;
    }

    .release-inner {
        margin: auto;
    }

    .release-title {
        margin-top: 80px;
    }

    .release__link {
        margin-top: 80px;
    }
}

.information-item__list,
.release-item__list {
    flex-direction: column;
}

.information-item,
.release-item {
    display: flex;
    flex-wrap: wrap;
}

.information-item__date,
.release-item__date {
    flex-direction: column;
    margin: 32px 0 23px 21px;
}

.information-item__text,
.release-item__text {
    margin: 32px 0 23px 21px;
}

@media screen and (max-width: 667.98px) {

    .information-item__date,
    .release-item__date {
        margin-bottom: 23px;;
    }

    .information-item__text,
    .release-item__text {
        margin-bottom: 23px;
    }

    .information-item__text::after,
    .release-item__text::after {
        content: "";
        width: 45px;
        height: 1px;
        display: block;
        margin: 41px 83px 30px 0;
        background-color: #c4c4c4;
    }
}

/* コンテンツスタイル
===================================== */
/* sns
---------------------------- */
.sns-inner {
    text-align: center;
    margin: auto;
    width: 100%;
}

.sns-title {
    text-align: center;
    margin: 35px 0 60px 0;
}

.twitter-icon {
    padding-right: 90px;
}

@media screen and (max-width: 667.98px){
    .twitter-icon {
        padding-right: 28px;
    }

    .twitter-icon img {
        width: 64px;
        height: 64px;
    }
}

.insta-icon {
    padding-right: 90px;
}

@media screen and (max-width: 667.98px){
    .insta-icon {
        padding-right: 28px;
    }

    .insta-icon img {
        width: 64px;
        height: 64px;
    }
}

.line-icon {
    padding-right: 90px;
}

@media screen and (max-width: 667.98px){
    .line-icon {
        padding-right: 28px;
    }

    .line-icon img {
        width: 64px;
        height: 64px;
    }
}

@media screen and (max-width: 667.98px){
    .facebook-icon img {
        width: 64px;
        height: 64px;
    }
}

/* コンテンツスタイル
===================================== */
/* footer
---------------------------- */
.footer__inner {
    text-align: center;
    margin: 59px 0 29px 0;
}

.footer-nav__items {
    display: flex;
    justify-content: center;
    margin-top: 29px;
}

.footer-nav__item {
    margin: auto;
    height: inherit;
}

@media screen and (max-width: 667.98px){
    .footer-nav__items {
        display: block;
    }

    .footer-nav__link {
        margin-top: 20px;
        margin-bottom: 30px;
    }
}

.footer__company {
    font-size: 10px;
}